<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wild Animals?!</title>
    <link rel="stylesheet" href="/style/overview.css">
    <script src="/javaScript/overview.js" defer></script>
</head>
<body>
    <div id="root">
        <header class="header-container">
            <img class="header-container-logo" src="/assets/images/pig.png" alt="Logo">
        </header>
        <main class="main-container">
            <div class="main-container-row">
                <span class="main-container-row-icon">🐷</span>
                <span class="main-container-row-name">PIG</span>
                <button type="button" class="main-container-row-btn">read more...</button>
            </div>
            <div class="main-container-row">
                <span class="main-container-row-icon">{animal icon}</span>
                <span class="main-container-row-name">{animal name}</span>
                <button type="button" class="main-container-row-btn">read more...</button>
            </div>
            <div class="main-container-row">
                <span class="main-container-row-icon">{animal icon}</span>
                <span class="main-container-row-name">{animal name}</span>
                <button type="button" class="main-container-row-btn">read more...</button>
            </div>
            <div class="main-container-row">
                <span class="main-container-row-icon">{animal icon}</span>
                <span class="main-container-row-name">{animal name}</span>
                <button type="button" class="main-container-row-btn">read more...</button>
            </div>
            <div class="main-container-row">
                <span class="main-container-row-icon">{animal icon}</span>
                <span class="main-container-row-name">{animal name}</span>
                <button type="button" class="main-container-row-btn">read more...</button>
            </div>
            <div class="main-container-row">
                <span class="main-container-row-icon">{animal icon}</span>
                <span class="main-container-row-name">{animal name}</span>
                <button type="button" class="main-container-row-btn">read more...</button>
            </div>
            <div class="main-container-row">
                <span class="main-container-row-icon">{animal icon}</span>
                <span class="main-container-row-name">{animal name}</span>
                <button type="button" class="main-container-row-btn">read more...</button>
            </div>
            <div class="main-container-row">
                <span class="main-container-row-icon">{animal icon}</span>
                <span class="main-container-row-name">{animal name}</span>
                <button type="button" class="main-container-row-btn">read more...</button>
            </div>
        </main>
    </div>
</body>
</html>